<mat-card>
    <mat-card-header>
        <h2>Willkommen</h2>
    </mat-card-header>

    <mat-card-content>
        <p>
            Dieses Projekt wurde im Rahmen des Moduls WEBLAB (Web Programming Lab) an der Hochschule Luzern bearbeitet. Die Projektartefakte sind auf dem <a href="https://github.com/go-hslu/weblab_project">GitHub Repository</a> einsehbar.
        </p>
        <p>
            Mit diesem Technologie-Radar können ähnlich zur Vorlage des <a href="https://www.thoughtworks.com/radar">Technologie-Radars von Thoughtworks</a> Technologien verwaltet und visualisiert werden. Innerhalb eines Unternehmens wird eine Übersicht auf die in Projekten verwendeten Technologien und Tools verschafft. In einer Visualisierung, ähnlich zu einem Radar, werden Technologien und Tools als Punkte dargestellt. Über die Quadranten beziehungsweise Sektoren werden diese kategorisiert (Frameworks, Tools, Languages, Platforms, Techniques) und über die nähe zur Mitte der Anwendungs-Status (Hold, Assess, Trial, Adopt) definiert.
        </p>
        <p>
            Es sind Initialdaten und Benutzer erfasst. Mit der E-Mail <b>admin&#64;hslu.com</b> oder <b>cto&#64;hslu.com</b> und dem Passwort <b>1234</b> können alle Technologien, auch noch nicht publizierte, eingesehen und editiert werden. Der Benutzer mit der E-Mail <b>user&#64;hslu.com</b> hat keine besonderen Berechtigungen und kann wie ein nicht-authentifizierter Gast nur Technologien ansehen.
        </p>
    </mat-card-content>
</mat-card>
