tr.details-row {
    height: 0;
}

.tech-row td {
    border-bottom-width: 0;
}

.details {
    overflow: hidden;
    display: flex;
}

.mat-column-actions {
    text-align: right;
    justify-content: flex-end;
}
