@media screen and (max-width: 600px) {
    mat-sidenav-container {
        min-height: calc(100vh - 148px);
    }
}

@media screen and (min-width: 601px) {
    mat-sidenav-container {
        min-height: calc(100vh - 156px);
    }
}

mat-toolbar {
    background: rgb(28,97,62);
    background: linear-gradient(94deg, rgba(28,97,62,1) 0%, rgba(28,97,62,1) 26%, rgba(0,34,17,1) 100%);
}

mat-sidenav {
    background-color: #fcfcfc;
}

footer mat-card {
    background-color: #171717;
    color: white;
    align-items: center;
    border-radius: 0;
}

.header-text {
    font-size: small;
}

.logo {
    height: 60%;
}

.spacer {
    flex: 1 1 auto;
}