<header>
    <mat-toolbar color="primary">
        <img src="assets/logo.png" alt="Radar logo" class="logo">

        <h1>Radar App</h1>
        <div class="spacer"></div>

        @if (isUserAuthenticated) {
            <div *ngIf="isUserAuthenticated">
                <span class="header-text" *ngIf="!useMobileLayout">{{ authenticatedUserEmail }} </span>
                <span *ngIf="!useMobileLayout">|</span>
                <button mat-button (click)="logout()" matTooltip="Abmelden">
                    Logout
                    <mat-icon>logout</mat-icon>
                </button>
            </div>
        } @else {
            <button mat-button routerLink="/login" matTooltip="Login für Mitarbeiter">
                Login
                <mat-icon>login</mat-icon>
            </button>
        }

        <button (click)="sidenav.toggle()" mat-icon-button *ngIf="useMobileLayout">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>
</header>

<mat-sidenav-container>
    <mat-sidenav #sidenav [opened]="useMobileLayout ? 'false' : 'true'" [mode]="useMobileLayout ? 'over' : 'side'">
        <mat-nav-list>

            <mat-list-item>
                <button mat-button routerLink="" color="primary" matTooltip="Startseite">
                    Home
                    <mat-icon>home</mat-icon>
                </button>
            </mat-list-item>

            <mat-list-item>
                <button mat-button routerLink="dashboard" color="primary" matTooltip="Technologie Übersicht">
                    Dashboard
                    <mat-icon>dashboard</mat-icon>
                </button>
            </mat-list-item>

            <mat-list-item>
                <button mat-button routerLink="radar" color="primary" matTooltip="Radar Ansicht">
                    Radar
                    <mat-icon>radar</mat-icon>
                </button>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item *ngIf="isUserAuthenticated && useMobileLayout">
                <button mat-button color="primary">
                    {{ authenticatedUserEmail }}
                    <mat-icon>account_circle</mat-icon>
                </button>
            </mat-list-item>

        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet/>
    </mat-sidenav-content>
</mat-sidenav-container>

<footer>
    <mat-card>
        <mat-card-actions>
            <button mat-mini-fab color="accent" aria-label="View code on GitHub">
                <mat-icon>code</mat-icon>
            </button>
        </mat-card-actions>

        <mat-card-content>
            <p>Copyright © 2024 WEBLAB Radar, Gian Ott</p>
        </mat-card-content>
    </mat-card>
</footer>
