<header>
    <mat-toolbar color="primary">
        <button (click)="sidenav.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <h1>Radar App</h1>

        <div class="spacer"></div>

        <button mat-button routerLink="/login" *ngIf="!isUserAuthenticated">
            Login
            <mat-icon>login</mat-icon>
        </button>
        <div *ngIf="isUserAuthenticated">
            <span class="header-text">{{ authenticatedUserEmail }}</span>
            <button mat-button (click)="logout()">
                Logout
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </mat-toolbar>
</header>

<mat-sidenav-container>
    <mat-sidenav #sidenav opened mode="side" position="start">
        <mat-nav-list>

            <mat-list-item>
                <button mat-button routerLink="" color="primary">
                    Home
                    <mat-icon>home</mat-icon>
                </button>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
                <button mat-button [matMenuTriggerFor]="dashboardMenu" color="primary">
                    Dashboard
                    <mat-icon>dashboard</mat-icon>
                </button>
                <mat-menu #dashboardMenu="matMenu">
                    <button mat-menu-item routerLink="tech">Technologien</button>
                    <button mat-menu-item routerLink="project">Projekte</button>
                </mat-menu>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet/>
    </mat-sidenav-content>
</mat-sidenav-container>

<footer>
    <mat-card>
        <mat-card-actions>
            <button mat-mini-fab color="accent" aria-label="View code on GitHub">
                <mat-icon>code</mat-icon>
            </button>
            <button mat-mini-fab color="accent" aria-label="Pull Docker image via GitHub Container registry">
                <mat-icon>cloud_download</mat-icon>
            </button>
        </mat-card-actions>

        <mat-card-content>
            <p>Copyright © 2024 WEBLAB Radar, Gian Ott</p>
        </mat-card-content>
    </mat-card>
</footer>
